*.lo
*.o
*.la
*.al
*.a
*.so
Makefile
Makefile.in
.deps/
.libs/
/acinclude.m4
/aclocal.m4
/autom4te.cache
/compile
/missing
/stamp-h1
/config.*
/configure
/depcomp
/install-sh
/libtool
/*.pc
/*config.h
/*config.h.in

# Executables
samples/balloontip
samples/btnnavbar
samples/commdraw
samples/datepicker
samples/exlist
samples/hscrollview
samples/iconflow
samples/imgnavbar
samples/itembar
samples/mgncs4touch
samples/name2value
samples/newtrackbar
samples/picker
samples/settingtableview
samples/switchbutton
samples/tableview
samples/timepicker
